@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("./images/Vector.png"); */
    /* background: rgb(202, 243, 239); */
}
/* Navigation */
.nav-container{
    height: 70px;
    background: #fffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}
.wrapper{
    width: 1240px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
nav ul{
    display: flex;
}
nav .logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 36px;
    font-style: normal;
    color: #021718;
}
.nav-items li{
    list-style: none;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
    text-decoration: none;
    /* color: #021718; */
}
a{
    text-decoration: none;
}
.nav-items li:nth-last-of-type(1){
    margin: 0;
}
.nav-items li a{
    font-size: 24px;
}

/* Header */
.header-container{
    /* width: 1024px; */
    background: url("./images/Vector.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.part-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hero-container{
    margin-left: 30px;
    padding-right: 30px;
}
.hero-image{
    padding-left: 120px;
    margin-top: 80px;
}

.part-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-image-two{
    padding-left: 90px;
    
}
.hero-container-two{
    padding-left: 150px;
    padding-top: 70px;
}
.name{
    color:  hsl(277, 47%, 30%);
    font-weight: 900;
}